@charset "utf-8";@import url('fonts.css');*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top2{margin-top:2px;}
.top5{margin-top:5px;}
.top10{margin-top:10px;}
.top15{margin-top:15px;}
.top18{margin-top:18px;}
.top20{margin-top:20px;}
.top25{margin-top:25px !important;;}
.top30{margin-top:30px !important;;}
.top35{margin-top:35px !important;;}
.top40{margin-top:40px !important;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top95{margin-top:95px;}
.top100{margin-top:100px;}
.top105{margin-top:105px;}
.top115{margin-top:115px;}
.top120{margin-top:120px;}
.top140{margin-top:140px;}
.top150{margin-top:150px;}
.top170{margin-top:170px;}
.top190{margin-top:190px;}
.top195{margin-top:195px;}
.top200{margin-top:200px;}
.top210{margin-top:210px;}
.top220{margin-top:220px;}
.top240{margin-top:240px;}
.top270{margin-top:270px;}
.top300{margin-top:300px;}
.top320{margin-top:320px;}
.top350{margin-top:350px;}
.top360{margin-top:360px;}
.top395{margin-top:395px;}
.top400{margin-top:400px;}
.top560{margin-top:560px;}
.top590{margin-top:590px;}
.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom30{margin-bottom:30px;}
.bottom35{margin-bottom:35px;}
.bottom40{margin-bottom:40px;}
.bottom45{margin-bottom:45px;}
.bottom50{margin-bottom:50px;}
.bottom55{margin-bottom:55px;}
.bottom60{margin-bottom:60px;}
.bottom60{margin-bottom:60px;}
.bottom65{margin-bottom:65px;}
.bottom70{margin-bottom:70px;}
.bottom75{margin-bottom:75px;}
.bottom80{margin-bottom:80px;}
.bottom90{margin-bottom:90px;}
.bottom100{margin-bottom:100px;}
.bottom120{margin-bottom:120px;}
.bottom135{margin-bottom:135px;}
.bottom180{margin-bottom:180px;}
.bottom200{margin-bottom:200px;}
.bottom210{margin-bottom:210px;}
.bottom280{margin-bottom:280px;}
.left5{margin-left:5px;}
.left9{margin-left:9px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left81{margin-left:81px;}
.left130{margin-left:130px;}
.left210{margin-left:210px;}
.left270{margin-left:270px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right22{margin-right:22px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right90{margin-right:90px;}
.right100{margin-right:100px;}
.right130{margin-right:130px;}
.right210{margin-right:210px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt300{padding-top:300px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr0{padding-right:0px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb200{padding-bottom:200px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}
.pg10{padding:10px;}
.pg20{padding:20px;}
.container{width:1170px !important;}
.padding0{padding:0px !important;}
.input100{width:100% !important;}
.lato-black{font-family:"Lato Black";}
.lato-bold{font-family:"Lato Bold";}
.fontCond{font-family:'futura__condensed';}
.relative{position:relative;}
body{font-weight:400;font-family:'Lato', sans-serif;}
h1{font-size:25px;font-family:"Lato Bold";color:#000;}
h1 span{}
h2{font-size:30px;font-weight:400;color:#fff;}
h2 span{font-size:20px;font-weight:300;font-family:'Lato', sans-serif;}
h3{font-size:40px;font-family:'futura__condensed';color:#fff;}
h3 span{color:#000;}
h4{font-size:25px;font-family:'futura__condensed';color:#000;}
h4 span{}
h5{font-size:15px;color:#000;font-weight:400;}
h5 span{}
h6{}
h6 span{}
p{font-weight:300;font-size:20px;color:#000;text-align:justify;}
a:hover{text-decoration:none !important;}
.media-left,
.media-right,
.media-body{vertical-align:middle !important;}
.relativo{position:relative;}
input,
select,
textarea{border-top:3px solid #283239 !important;min-height:56px;color:#000;border-radius:0px !important;font-family:"Lato Bold";font-size:20px;}
::-webkit-input-placeholder{color:#000;font-family:"Lato Bold";font-size:20px;}
:-moz-placeholder{color:#000;font-family:"Lato Bold";font-size:20px;}
::-moz-placeholder{color:#000;font-family:"Lato Bold";font-size:20px;}
:-ms-input-placeholder{color:#000;font-family:"Lato Bold";font-size:20px;}
.btn{border-radius:0px;}
.rodape{background:#3a3c3f;}
.rodape-preto{background:#000;}
.rodape-preto h5{font-size:20px;color:#fff;font-weight:300;}
.telefone_rodape p{color:#fff;}
.menu-rodape li a{color:#fff;font-size:20px;font-weight:300;margin-right:35px;}
.fa-google-plus:before{color:#fff;}
.menu-rodape li a:hover, .menu-rodape li a.active{font-weight:400;}
.menu-rodape{list-style:none;padding:0px;}
.barra_branca{border-bottom:1px solid #fff;padding-bottom:44px;}
.menu-rodape li{float:left;}
.topo{height:145px;background:url(../imgs/barra_topo.jpg) top center no-repeat;}
.agendar{padding-top:0px !important;padding-bottom:0px !important;}
.menu_topo li{float:left;}
.menu_topo{list-style:none;}
.menu{margin-top:37px;}
.menu_topo li a{color:#fff;font-size:20px;font-weight:700;padding:29px 15px;}
.menu_topo li.active a{font-weight:700;padding:29px 15px;background:url(../imgs/hover_topo.png);}
.menu_topo li a:hover{font-weight:700;padding:29px 15px;background:url(../imgs/hover_topo.png);}
.effect2{position:relative;}
.effect2:before, .effect2:after{z-index:-1;position:absolute;content:"";bottom:15px;left:10px;width:50%;top:80%;max-width:300px;background:#777;box-shadow:0 15px 10px #777;transform:rotate(-3deg);}
.effect2:after{transform:rotate(3deg);right:10px;left:auto;}
#container_banner{width:100%;height:498px;margin:0px auto;overflow:hidden;position:relative;}
#content_slider{width:1920px;height:498px;overflow:hidden;position:absolute;margin-left:-960px;top:0px;left:50%;}
#content-slider-1 .rsTabs{width:109px;height:50px;z-index:9999;position:absolute;left:424px;top:394px;text-shadow:-4px -3px 2px rgba(0, 0, 0, 0.76);}
#content-slider-1 .rsNavItem{background:#695736;width:17px;opacity:0.5;height:17px;float:left;margin-right:10px;cursor:pointer;border-radius:50%;box-shadow:-2px 2px rgba(0,0,0,0.6);-moz-box-shadow:-2px 2px rgba(0,0,0,0.6);-webkit-box-shadow:-2px 2px rgba(0,0,0,0.6);-o-box-shadow:-2px 2px rgba(0,0,0,0.6);}
#content-slider-1 .rsNavSelected{opacity:1;background:#b58a3a;box-shadow:-2px 2px rgba(0,0,0,0.6);-moz-box-shadow:-2px 2px rgba(0,0,0,0.6);-webkit-box-shadow:-2px 2px rgba(0,0,0,0.6);-o-box-shadow:-2px 2px rgba(0,0,0,0.6);}
#container_banner .rsArrowLeft{display:block;width:20px;height:20px;background:url(../imgs/arrow_left.png) center no-repeat;z-index:99999;bottom:13px;position:absolute;left:883px;}
#container_banner .rsArrowRight{display:block;width:20px;height:20px;background:url(../imgs/arrow_right.png) center no-repeat;z-index:99999;bottom:13px;position:absolute;right:872px;}
.produtos_home{height:377px;background:url(../imgs/fundo_degrader_produtos_home.jpg);}
.btn_saiba_mais_produtos{background:url(../imgs/bg_transparente_produtos.png);font-family:'futura__condensed';font-size:20px;padding:7px 23px;color:#000;}
.produtos_home p{height:114px;overflow:hidden;}
.div_personalizado{padding-top:0px !important;padding-bottom:0px !important;}
.thumbnail{border-radius:0px;}
.face_ultimas .caption{padding:0px;border-radius:0px;}
.face_ultimas p{font-size:15px;font-weight:400;}
.icons_curtir{border-top:1px solid #f0f0f0;}
.icons_curtir h2{font-size:17px;color:#90949c;}
.icons_curtir h2:hover{color:#000;}
.face_ultimas h1{overflow:hidden;font-size:17px;color:#5471a8;font-weight:400;max-height:36px;}
.face_ultimas h3{font-size:14px;color:#9f9f9f;font-weight:400;}
.comentarios_realizados .flex-control-paging li a{width:20px;height:20px;background:#f1e4cd;border-color:inherit;border:0px !important;}
.comentarios_realizados .flexslider{margin:0 0 0px;background:#ffffff;border:0px solid #ffffff;position:relative;zoom:1;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);-moz-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);-o-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);}
.comentarios_realizados .slides li{margin-right:15px;}
.comentarios_realizados .flex-control-paging li a.flex-active,
.comentarios_realizados .flex-control-paging li a:hover{background:#b58a3a;cursor:pointer;}
.comentarios_realizados .flex-control-nav{bottom:-21px;}
.bg_servicos_home{height:598px;background:url(../imgs/bg_Servicos_home.jpg)top center no-repeat;}
.bg_transparente_escuro{background:url(../imgs/bg_transparente_servicos.png);}
.bg_servicos_home p{overflow:hidden;max-height:199px;color:#fff;}
.btn_saiba_mais_escritorio{font-size:25px;color:#fff;padding:10px 10px;background:none;border:1px solid #fff;border-radius:5px;}
.btn_saiba_mais_escritorio:hover{color:#000;border:1px solid #000;}
.dicas_home p{overflow:hidden;height:90px;}
.nosso_cliente h3{font-size:30px;color:#000;line-height:5px;}
.nossos_clientes .flex-control-paging li a{width:20px;height:20px;background:#f1e4cd;border-color:inherit;border:0px !important;}
.nossos_clientes .flexslider{margin:0 0 0px;background:#ffffff;border:0px solid #ffffff;position:relative;zoom:1;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);-moz-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);-o-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);}
.nossos_clientes .slides li{margin-right:15px;}
.nossos_clientes .flex-control-paging li a.flex-active,
.nossos_clientes .flex-control-paging li a:hover{background:#b58a3a;cursor:pointer;}
.nossos_clientes .flex-control-nav{bottom:-36px;}
.fundo_transparente{background:url(../imgs/bg_transparente_clientes.png);}
.nossos_clientes .flexslider .slides img{width:83%;display:block;}
.nossos_clientes .flexslider:hover .flex-direction-nav .flex-next{opacity:0.7;right:25px;}
.nossos_clientes .flexslider .slides li{width:270px !important;display:block;}
.titulo_contatos .fa{color:#fff;font-size:87px;line-height:47px;}
.contatos_geral h4{font-size:25px;color:#000;font-family:"Lato Bold";}
.contatos_geral h4 span{font-size:17px;color:#000;font-family:'Lato', sans-serif;font-weight:300;}
.breadcrumb{font-size:21px;background:none;}
.breadcrumb i{border-radius:50%;border:1px solid #fff;padding:5px;}
.breadcrumb i:hover,
.breadcrumb a:hover{color:#3d3b3e;}
.breadcrumb>.active{color:#000;}
.active1{font-size:20px;color:#000 !important;font-family:'futura__condensed';padding-left:15px !important;}
.face{margin-top:-6px;padding-left:0px !important;}
.face:after{box-shadow:none !important;}
.active1 img{margin-right:15px;}
.breadcrumb a{text-decoration:none;outline:none;display:block;float:left;font-size:20px;font-weight:300;line-height:36px;color:#000;padding:0 10px 0 24px;position:relative;}
.breadcrumb a:after{content:'';position:absolute;top:7px;right:-10px;width:20px;height:20px;transform:scale(0.707) rotate(45deg);z-index:1;box-shadow:2px -2px 0 2px rgba(0, 0, 0, 0.1),
2px -2px 0 1px rgba(0, 0, 0,1);border-radius:0 5px 0 50px;}
.breadcrumb a:last-child:after{content:none;}
.btn_formulario{font-size:20px;font-family:"Lato Bold";background:#be9641;padding:19px 37px;color:#000;-moz-box-shadow:1px 0px 4px #1f1e1f;-webkit-box-shadow:1px 0px 4px #1f1e1f;box-shadow:1px 0px 4px #1f1e1f;}
.btn_formulario:hover{background:#7d6529;color:#fff;}
.fundo_formulario span{font-size:20px;}
.barras_links{overflow:hidden;background:#0f0417;}
.barras_links li,.barras_links li a{cursor:pointer;display:block;font-size:20px;font-weight:400;color:#fff;}
.barras_links li.active,
.barras_links li:hover{background:url(../imgs/bg_transparente_contatos.png);}
.barras_links li.active,.barras_links li.active a{cursor:none !important;}
.endereco_geral h2{font-size:25px;color:#000;font-weight:300;}
.bg_branco_transparente{background:#fff;opacity:0.5;}
.area_descricao{overflow:auto;}
.ver_outras_areas{background:#4c4c4c;font-size:23px;color:#fff;padding:21px 66px;}
.ver_outras_areas:hover{background:#3c3c3b;color:#fff;}
.agendar_visita{background:#0f0417 url(../imgs/icon_clock.png) left 26px center no-repeat;font-size:23px;color:#fff;padding:21px 103px;}
.agendar_visita:hover{background:#372e41 url(../imgs/icon_clock.png) left 26px center no-repeat;color:#fff;}
.dicas_dentro h1{font-size:25px;font-family:'Lato', sans-serif;font-weight:400;}
.comentarios_realizados_dicas .flex-control-paging li a{width:20px;height:20px;background:#f1e4cd;border-color:inherit;border:0px !important;}
.comentarios_realizados_dicas .flexslider{margin:0 0 0px;background:#ffffff;border:0px solid #ffffff;position:relative;zoom:1;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);-moz-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);-o-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);}
.comentarios_realizados_dicas .flex-control-paging li a.flex-active,
.comentarios_realizados_dicas .flex-control-paging li a:hover{background:#b58a3a;cursor:pointer;}
.comentarios_realizados_dicas .flex-control-nav{bottom:-21px;}
.flexslider:hover .flex-direction-nav .flex-prev,
.flexslider:hover .flex-direction-nav .flex-next{opacity:0 !important;}
.mais_dicas_dentro p{overflow:hidden;max-height:101px;line-height:25px}
.equipe_tipos h1{max-height:39px;overflow:hidden;font-size:20px;}
.equipe_dentro h2{font-size:15px;color:#000;}
.media-right, .media>.pull-right{padding-left:0px;}
.saiba_como_chegar{background:#0f0417 url(../imgs/icon_localizacao01.png) left 10px center no-repeat;font-size:23px !important;color:#fff;padding:11px 20px 3px 52px;}
.saiba_como_chegar:hover{background:#372e41 url(../imgs/icon_localizacao01.png) left 10px center no-repeat;color:#fff;}
.agendar_vistar_escritorio{background:#0f0417 url(../imgs/icon_clock.png) left 10px center no-repeat;font-size:23px !important;color:#fff;padding:11px 10px 3px 52px;}
.agendar_vistar_escritorio:hover{background:#372e41 url(../imgs/icon_clock.png) left 10px center no-repeat;color:#fff;}
.btn_empresa h1{font-size:30px;font-family:"Lato Black";}
.btn_empresa,
.btn_empresa:hover,
.btn_empresa:focus,


/*
.btn_empresa.active{
	padding: 10px 94px;
	cursor: none;
	padding-right: 20px;
	background: url(../imgs/fundo_degrader_escritorio.png);
	height: 62px;
}

.img_float{
	position: absolute;
	left: 9px;
  top: -28px;

}

.img_float1{
	position: absolute;
	left: 149px;
    top: -28px;

}

.scrollup {
    width:65px;
    height:65px;
    opacity: 0.5;
    position: fixed;
    bottom: 60px;
    right: 30px;
    display: none;
    text-indent: -9999px;
    background: url(../imgs/seta_up.png) no-repeat;
    z-index: 9999;
}
*/

/**
============================================
				ESCRITORIO
============================================
*/


.equipe_dentro .modal-body {
    position: relative;
    padding: 0px;
}


.btn_nossa_noticias{
	font-size: 45px;
	color: #000;
	font-family: "futura__condensed";

}

.seleciona-uf-select{
    background: #fff;
    height: 35px;
    border: 0;
    border-radius: 0px !important;
}

.seleciona-uf span{color: #fff !important;}

.btn_empresa.active{padding:10px 94px;cursor:none;padding-right:20px;background:url(../imgs/fundo_degrader_escritorio.png);height:62px;}
.img_float{position:absolute;left:9px;top:-28px;}
.img_float1{position:absolute;left:149px;top:-28px;}
.scrollup{width:65px;height:65px;opacity:0.5;position:fixed;bottom:60px;right:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up.png) no-repeat;z-index:9999;}
.equipe_dentro .modal-body{position:relative;padding:0px;}
.btn_nossa_noticias{font-size:45px;color:#000;font-family:"futura__condensed";}

#appearance-select1 {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../imgs/arrow_drown.png) no-repeat #d7d6d7;
    background-position: 116px center;
    width: 141px;
    min-height: 24px !important;
    border: 0;
}