.rsMinW .rsOverflow,
.rsMinW .rsSlide,
.rsMinW .rsVideoFrameHolder,
.rsMinW .rsThumbs{background:transparent;}
.rsMinW .rsArrow{height:44px;width:30px;position:absolute;display:block;cursor:pointer;z-index:21; }
.rsMinW .rsArrowLeft{right:39px;bottom:2px;}
.rsMinW .rsArrowRight{right:9px;bottom:2px;}
.rsMinW .rsArrowIcn{width:24px;height:24px;top:50%;left:50%;margin-top:-12px;margin-left:-12px;position:absolute;cursor:pointer;background:url('rs-minimal-white.png');background-color:transparent;z-index:999;}
.rsMinW .rsArrowIcn:hover{}
.rsMinW.rsHor .rsArrowLeft .rsArrowIcn{background-position:-68px -36px;}
.rsMinW.rsHor .rsArrowRight .rsArrowIcn{background-position:-68px -68px;}
.rsMinW.rsVer .rsArrowLeft .rsArrowIcn{background-position:-96px -32px;}
.rsMinW.rsVer .rsArrowRight .rsArrowIcn{background-position:-96px -64px;}
.rsMinW .rsArrowDisabled .rsArrowIcn{opacity:.3;}
.rsMinW .rsBullets{position:absolute;z-index:35;bottom:18px;right:78px;width:auto;height:auto;text-align:left;overflow:hidden;line-height:8px;}
.rsMinW .rsBullet{width:8px;height:8px;display:inline-block;margin:0 5px;border-radius:50%;background:#aaa;background:rgba(255,255,255,0.6);*display:inline;*zoom:1;}
.rsMinW .rsBullet.rsNavSelected{background:#FFF;}
.rsMinW .rsThumbs{background:#FFF;}
.rsMinW .rsThumbsHor{padding-bottom:4px;width:100%;height:72px;}
.rsMinW .rsThumbsVer{padding-right:4px;width:96px;height:100%;position:absolute;top:0;right:0;}
.rsMinW.rsWithThumbsHor .rsThumbsContainer{position:relative;height:100%;}
.rsMinW.rsWithThumbsVer .rsThumbsContainer{position:relative;width:100%;}
.rsMinW .rsThumb{float:left;overflow:hidden;width:96px;height:72px;color:#555;}
.rsMinW .rsThumb:hover{color:#000;}
.rsMinW .rsThumb img{width:100%;height:100%;}
.rsMinW .rsThumb.rsNavSelected{background:#dadada;color:#000;}
.rsMinW .rsThumb.rsNavSelected img{opacity:0.3;filter:alpha(opacity=30);}
.rsMinW .rsTmb{display:block;}
.rsMinW .rsThumbsArrow{height:100%;width:20px;position:absolute;display:block;cursor:pointer;z-index:21;background:#fff;background:rgba(255,255,255,0.75);}
.rsMinW .rsThumbsArrow:hover{background:#ddd;}
.rsMinW.rsWithThumbsVer .rsThumbsArrow{width:100%;height:20px;}
.rsMinW.rsWithThumbsVer .rsThumbsArrowLeft{top:0;left:0;}
.rsMinW.rsWithThumbsVer .rsThumbsArrowRight{bottom:0;left:0;}
.rsMinW.rsWithThumbsHor .rsThumbsArrowLeft{left:0;top:0;}
.rsMinW.rsWithThumbsHor .rsThumbsArrowRight{right:0;top:0;}
.rsMinW .rsThumbsArrowIcn{width:16px;height:16px;top:50%;left:50%;margin-top:-8px;margin-left:-8px;position:absolute;cursor:pointer;background:url('rs-minimal-white.png');}
.rsMinW.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn{background-position:-128px -32px;}
.rsMinW.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn{background-position:-128px -48px;}
.rsMinW.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn{background-position:-144px -32px;}
.rsMinW.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn{background-position:-144px -48px;}
.rsMinW .rsThumbsArrowDisabled{display:none !important;}
@media screen and (min-width:0px) and (max-width:800px){.rsMinW .rsThumb{width:59px;height:44px;}
.rsMinW .rsThumbsHor{height:44px;}
.rsMinW .rsThumbsVer{width:59px;}
}
.rsMinW .rsTabs{width:100%;height:auto;margin:0 auto;text-align:center;overflow:hidden;padding-top:12px;position:relative;}
.rsMinW .rsTab{display:inline-block;cursor:pointer;text-align:center;height:auto;width:auto;color:#333;padding:5px 13px 6px;min-width:96px;border:1px solid #D9D9DD;border-right:1px solid #f5f5f5;text-decoration:none;background-color:#FFF;background-image:-webkit-linear-gradient(top, #fefefe, #f4f4f4);background-image:-moz-linear-gradient(top, #fefefe, #f4f4f4);background-image:linear-gradient(to bottom, #fefefe, #f4f4f4);-webkit-box-shadow:inset 1px 0 0 #fff;box-shadow:inset 1px 0 0 #fff;*display:inline;*zoom:1;}
.rsMinW .rsTab:first-child{-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;}
.rsMinW .rsTab:last-child{-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;border-right:1px solid #cfcfcf;}
.rsMinW .rsTab:active{border:1px solid #D9D9DD;background-color:#f4f4f4;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2) inset;box-shadow:0 1px 4px rgba(0, 0, 0, 0.2) inset;}
.rsMinW .rsTab.rsNavSelected{color:white;border:1px solid #999;text-shadow:1px 1px #838383;-webkit-box-shadow:0 1px 9px rgba(102, 102, 102, 0.65) inset;box-shadow:0 1px 9px rgba(102, 102, 102, 0.65) inset;background:#ACACAC;background-image:-webkit-linear-gradient(top, #ACACAC, #BBB);background-image:-moz-llinear-gradient(top, #ACACAC, #BBB);background-image:linear-gradient(to bottom, #ACACAC, #BBB);}
.rsMinW .rsFullscreenBtn{right:0;top:0;width:44px;height:44px;z-index:22;display:block;position:absolute;cursor:pointer;}
.rsMinW .rsFullscreenIcn{display:block;margin:6px;width:32px;height:32px;background:url('rs-minimal-white.png') 0 0;background-color:#fff;background-color:rgba(255,255,255,0.75);border-radius:2px;}
.rsMinW .rsFullscreenIcn:hover{background-color:#fff;}
.rsMinW.rsFullscreen .rsFullscreenIcn{background-position:-32px 0;}
.rsMinW .rsPlayBtn{-webkit-tap-highlight-color:rgba(0,0,0,0.3);width:64px;height:64px;margin-left:-32px;margin-top:-32px;cursor:pointer;}
.rsMinW .rsPlayBtnIcon{width:64px;display:block;height:64px;-webkit-border-radius:4px;border-radius:4px;background:url(rs-minimal-white.png) no-repeat 0 -32px;background-color:#eee;background-color:rgba(238,238,238,0.75);-webkit-transition:.3s;-moz-transition:.3s;transition:.3s;}
.rsMinW .rsPlayBtn:hover .rsPlayBtnIcon{background-color:#d5d5d5;}
.rsMinW .rsBtnCenterer{position:absolute;left:50%;top:50%;width:20px;height:20px;}
.rsMinW .rsCloseVideoBtn{right:0;top:0;width:44px;height:44px;z-index:23;position:absolute;cursor:pointer;}
.rsDefault .rsCloseVideoBtn.rsiOSBtn{top:-38px;right:-6px;}
.rsMinW .rsCloseVideoIcn{margin:6px;width:32px;height:32px;background:url('rs-minimal-white.png') -64px 0;background-color:#eee;background-color:rgba(238,238,238,0.75);}
.rsMinW .rsCloseVideoIcn:hover{background-color:#d5d5d5;}
.rsMinW .rsPreloader{width:20px;height:20px;background-image:url(../preloaders/preloader.gif);left:50%;top:50%;margin-left:-10px;margin-top:-10px;}