@charset "utf-8";@import url('./fonts.css');*{margin:0;padding:0;text-decoration:none;}
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top3{margin-top:3px;}
.top5{margin-top:5px;}
.top10{margin-top:10px;}
.top12{margin-top:12px;}
.top15{margin-top:15px;}
.top20{margin-top:20px;}
.top25{margin-top:25px;}
.top30{margin-top:30px;}
.top35{margin-top:35px;}
.top40{margin-top:40px;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top100{margin-top:100px;}
.top105{margin-top:105px;}
.top110{margin-top:110px;}
.top130{margin-top:130px;}
.top140{margin-top:140px;}
.top150{margin-top:150px;}
.top155{margin-top:155px;}
.top160{margin-top:160px;}
.top170{margin-top:170px;}
.top180{margin-top:180px;}
.top190{margin-top:190px;}
.top195{margin-top:195px;}
.top200{margin-top:200px;}
.top205{margin-top:205px;}
.top210{margin-top:210px;}
.top230{margin-top:230px;}
.top250{margin-top:250px;}
.top260{margin-top:260px;}
.top270{margin-top:270px;}
.top330{margin-top:330px;}
.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom30{margin-bottom:30px;}
.bottom35{margin-bottom:35px;}
.bottom40{margin-bottom:40px;}
.bottom45{margin-bottom:45px;}
.bottom50{margin-bottom:50px;}
.bottom55{margin-bottom:55px;}
.bottom60{margin-bottom:60px;}
.bottom60{margin-bottom:60px;}
.bottom65{margin-bottom:65px;}
.bottom70{margin-bottom:70px;}
.bottom75{margin-bottom:75px;}
.bottom80{margin-bottom:80px;}
.bottom100{margin-bottom:100px;}
.bottom120{margin-bottom:120px;}
.bottom135{margin-bottom:135px;}
.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left130{margin-left:130px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right130{margin-right:130px;}
.right230{margin-right:230px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt170{padding-top:170px;}
.pt190{padding-top:190px;}
.pt200{padding-top:200px;}
.pt300{padding-top:300px;}
.pl5{padding-left:5px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb70{padding-bottom:70px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb190{padding-bottom:190px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}
.pg0{padding:0px;}
.pg10{padding:10px;}
.pg20{padding:20px;}
.pg60{padding:60px;}
.container{max-width:480px;}
.input100{width:100% !important;}
body{font-weight:400;font-family:'Lato', sans-serif;}
.padding0{padding:0px !important;}
.lato-black{font-family:"Lato Black";}
.latobold{font-family:"Lato Bold";}
.fontCond{font-family:"futura__condensed";}
.relative{position:relative;}
h1{font-size:17px;font-family:"Lato Bold";color:#000;}
h1 span{}
h2{font-size:25px;color:#fff;}
h2 span{font-size:17px;}
h3{font-size:28px;font-family:'futura__condensed';color:#fff;}
h3 span{font-size:34px;}
h4{}
h4 span{}
h5{}
h5 span{}
h6{}
p{color:#000;font-size:15px;text-align:justify;}
p span{color:#fff;}
a:hover{text-decoration:none;}
.media-left,
.media-right,
.media-body{vertical-align:middle !important;}
input,
select,
textarea{border-top:3px solid #283239 !important;min-height:56px;color:#000;border-radius:0px !important;font-family:"Lato Bold";font-size:20px;}
::-webkit-input-placeholder{color:#000 !important;font-weight:400;font-size:12px;}
:-moz-placeholder{color:#000 !important;font-weight:400;font-size:12px;}
::-moz-placeholder{color:#000 !important;font-weight:400;font-size:12px;}
:-ms-input-placeholder{color:#000 !important;font-weight:100;font-size:12px;}
.form_busca_topo{width:306px;}
.form_busca_topo.pull-right{right:-32px;left:auto;}
.bg-fundo-preto{position:relative;background:#000;}
.bg-fundo-preto p{color:#fff;font-weight:700;padding:10px 0px;text-align:center;}
.select-menu{background:url(../imgs/bg-select-menu.png) center no-repeat;-moz-appearance:none;-webkit-appearance:none;appearance:none;}
.contatos_topo{overflow:hidden;background:#0f0417;}
.bg_cinza_escuro{background:#3a3c3f;}
.barra_topo{height:5px;background:url(../imgs/barra_topo.png) top center no-repeat;}
.select-menu{height:46px;background:url(../imgs/menu_topo.png) center no-repeat;-moz-appearance:none;-webkit-appearance:none;appearance:none;}
.select-menu option{padding:15px;font-size:17px;}
.bg_menu{overflow:hidden;background:#0f0417;}
.effect2{position:relative;}
.effect2:before, .effect2:after{background:#777;bottom:12px;box-shadow:0 15px 10px #777;content:"";left:1px;max-width:300px;position:absolute;top:63%;transform:rotate(-3deg);width:50%;z-index:-1;}
.effect2:after{transform:rotate(3deg);right:1px;left:auto;}
.container_banner_faixa{width:100%;height:50px;background:url(../imgs/faixa-slider.png) top center no-repeat;position:absolute;bottom:-1px;z-index:10;}
.carroucel-home .carousel{height:300px;}
.carroucel-home .carousel-caption{text-align:left;z-index:10;bottom:0px;}
.carroucel-home .carousel .item{height:300px;}
.carroucel-home .carousel-inner > .item > img{position:absolute;top:0;left:0;width:100%;height:300px;}
.carroucel-home{position:relative;margin-top:-1px;}
.carroucel-home .carousel-caption{top:10px;right:0px;left:0px;}
.carroucel-home .carousel-indicators{position:absolute;top:264px;left:50%;z-index:20;width:63%;}
.carroucel-home li{opacity:0.5;width:17px;height:17px;margin:2px !important;background:#b58a3a;border:0px;box-shadow:-2px 2px rgba(0,0,0,0.6);-moz-box-shadow:-2px 2px rgba(0,0,0,0.6);-webkit-box-shadow:-2px 2px rgba(0,0,0,0.6);-o-box-shadow:-2px 2px rgba(0,0,0,0.6);}
.carroucel-home li.active{opacity:1;width:17px;margin:2px !important;height:17px;background:#b58a3a;border:0px;box-shadow:-2px 2px rgba(0,0,0,0.6);-moz-box-shadow:-2px 2px rgba(0,0,0,0.6);-webkit-box-shadow:-2px 2px rgba(0,0,0,0.6);-o-box-shadow:-2px 2px rgba(0,0,0,0.6);}
.carroucel-home .carousel-control{opacity:1;color:#000;top:309px;width:0%;z-index:999;}
.carroucel-home .glyphicon-chevron-right{right:168px;}
.carroucel-home .glyphicon-chevron-left{left:180px;}
.carroucel-home .carousel-control:hover{color:#000;opacity:0.5;}
.produtos_home{height:216px;background:url(../imgs/fundo_degrader_produtos_home.jpg);}
.btn_saiba_mais_produtos{background:url(../imgs/bg_transparente_produtos.png);font-family:'futura__condensed';font-size:15px;padding:5px 13px;color:#000;}
.produtos_home p{font-size:14px;height:60px;overflow:hidden;}
.btn{border-radius:0px;}
.ver_todas_areas{border-radius:5px;border:1px solid #000;font-size:20px;color:#000;padding:11px 15px;}
.div_personalizado{padding-top:0px !important;padding-bottom:0px !important;}
.thumbnail{border-radius:0px;}
.face_ultimas .caption{padding:0px;border-radius:0px;}
.face_ultimas p{font-size:15px;font-weight:400;}
.icons_curtir{border-top:1px solid #f0f0f0;}
.icons_curtir h2{font-size:17px;color:#90949c;}
.icons_curtir h2:hover{color:#000;}
.face_ultimas h1{overflow:hidden;font-size:17px;color:#5471a8;font-weight:400;max-height:36px;}
.face_ultimas h3{font-size:14px;color:#9f9f9f;font-weight:400;}
.comentarios_realizados .flex-control-paging li a{width:17px;height:17px;background:#f1e4cd;border-color:inherit;border:0px !important;}
.comentarios_realizados .flexslider{margin:0 0 0px;background:#ffffff;border:0px solid #ffffff;position:relative;zoom:1;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);-moz-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);-o-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);}
.comentarios_realizados .flex-control-paging li a.flex-active,
.comentarios_realizados .flex-control-paging li a:hover{background:#b58a3a;cursor:pointer;}
.comentarios_realizados .flex-control-nav{bottom:-10px;}
.bg_servicos_home{height:598px;background:url(../imgs/bg_Servicos_home.jpg)top center no-repeat;}
.bg_transparente_escuro{background:url(../imgs/bg_transparente_servicos.png);}
.bg_servicos_home p{overflow:hidden;max-height:193px;color:#fff;}
.btn_saiba_mais_escritorio{font-size:15px;color:#fff;padding:12px 10px;background:none;border:1px solid #fff;border-radius:4px;}
.btn_saiba_mais_escritorio:hover{color:#000;border:1px solid #000;}
.dicas_home p{overflow:hidden;height:66px;}
.nosso_cliente h3{font-size:30px;color:#000;line-height:5px;}
.flexslider:hover .flex-direction-nav .flex-prev,
.flexslider:hover .flex-direction-nav .flex-next{opacity:0 !important;}
.nossos_clientes .flex-control-paging li a{width:17px;height:17px;background:#f1e4cd;border-color:inherit;border:0px !important;}
.nossos_clientes .flexslider{margin:0 0 0px;background:#ffffff;border:0px solid #ffffff;position:relative;zoom:1;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);-moz-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);-o-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);}
.nossos_clientes .flex-control-paging li a.flex-active,
.nossos_clientes .flex-control-paging li a:hover{background:#b58a3a;cursor:pointer;}
.nossos_clientes .flex-control-nav{bottom:-28px;}
.fundo_transparente{margin-right:20px;height:100px;background:url(../imgs/bg_transparente_clientes.png);}
.nossos_clientes .flexslider .slides img{width:60%;display:block;}
.nossos_clientes .flexslider:hover .flex-direction-nav .flex-next{opacity:0.7;right:25px;}
.nossos_clientes .flexslider .slides li{width:225px !important;display:block;}
.titulo_contatos .fa{color:#fff;font-size:87px;line-height:47px;}
.saiba_como_chegar{background:#0f0417 url(../imgs/icon_localizacao01.png) left 10px center no-repeat;font-size:23px !important;color:#fff;padding:11px 20px 3px 52px;}
.agendar_vistar_escritorio{background:#0f0417 url(../imgs/icon_clock.png) left 10px center no-repeat;font-size:23px !important;color:#fff;padding:11px 10px 3px 52px;}
.btn_empresa h1{font-size:22px;font-family:"Lato Black";}
.btn_empresa,
.btn_empresa:hover,
.btn_empresa:focus,
.btn_empresa.active{padding:10px 90px;cursor:none;padding-right:20px;background:url(../imgs/fundo_degrader_escritorio.png);height:54px;}
.img_float{position:absolute;left:9px;top:-28px;}
.img_float1{position:absolute;left:46px;top:-28px;}
.relativo{position:relative;}
.endereco_geral h2{font-size:20px;color:#000;font-weight:400;}
.dicas_home_titulo h3 span{color:#000;}
.dicas_dentro h1{font-size:25px;font-family:'Lato', sans-serif;font-weight:400;}
.area_descricao{overflow:auto;max-height:216px;}
.area_descricao p{font-size:17px;}
.ver_outras_areas{background:#4c4c4c;font-size:17px;color:#fff;padding:17px 48px}
.ver_outras_areas:hover{background:#3c3c3b;color:#fff;}
.agendar_visita{background:#0f0417 url(../imgs/icon_clock.png) left 12px center no-repeat;font-size:23px;color:#fff;padding:13px 55px;}
.equipe_tipos h1{height:21px;overflow:hidden;font-size:17px;}
.equipes_desc p{font-size:17px;}
.equipe_dentro h2{font-size:15px;color:#000;}
.equipe_dentro h1{max-height:39px;overflow:hidden;font-size:25px;}
.media-right,
.media>.pull-right{padding-left:0px;}
.titulo_contatos .fa{color:#fff;font-size:87px;line-height:47px;}
.contatos_geral h4{font-size:25px;color:#fff;font-family:"Lato Bold";}
.contatos_tel h2{color:#000;}
.contatos_geral h4 span{font-size:17px;color:#fff;font-family:'Lato', sans-serif;font-weight:300;}
.fundo_formulario span{font-size:20px;}
.btn_formulario{font-size:15px;font-family:"Lato Bold";background:#be9641;padding:15px 31px;color:#000;-moz-box-shadow:1px 0px 4px #1f1e1f;-webkit-box-shadow:1px 0px 4px #1f1e1f;box-shadow:1px 0px 4px #1f1e1f;}
.barras_links{overflow:hidden;background:#0f0417;}
.barras_links li,.barras_links li a{cursor:pointer;display:block;font-size:20px;font-weight:400;color:#fff;padding:6px 0px;}
.barras_links li.active,


.barras_links li:hover{background:url(../imgs/bg_transparente_contatos.png);}
.barras_links li.active,.barras_links li.active a{cursor:none !important;}
.btn_nossa_noticias{font-size:40px;color:#000;font-family:"futura__condensed";}


/**
============================================
				contatos
============================================
*/



.btn_nossa_noticias{
	font-size: 40px;
	color: #000;
	font-family: "futura__condensed";

}


.seleciona-unidades select {
    background: #fff;
    height: 35px;
    border: 0;
    border-radius: 0px;
    width: 80%;
    float: right;
}

.seleciona-unidades span{color: #fff !important;margin-top: 10px;}

